SERVER_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=bbs
DB_SSLMODE=disable

JWT_SECRET=change-me

CLOUDINARY_CLOUD_NAME=https://cloudinary.com/documentation/go_quick_start
CLOUDINARY_API_KEY=279182715648242
CLOUDINARY_API_SECRET=H4hTP83FlrZ0AyqfFJv_aowKYeo
